@import '../../commons/color.scss';

.layout {
  position: relative;
  overflow: hidden;

  .header {
    background-color: $headBackground;

    img {
      height: 16px;
      margin: 12px 0px;
    }
  }
}
